@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Shadows+Into+Light+Two&display=swap");
::-webkit-scrollbar {
  width: 6px;
  background-color: #3b3b37;
}

::-webkit-scrollbar-thumb {
  background-color: #EE6B29;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("../../assets/images/gradient_background.jpg") center/cover no-repeat;
  min-height: 100vh;
  width: 100vw;
  font-family: "Segoe UI", Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.page-heading {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 2.75rem;
  letter-spacing: 3px;
  opacity: 1;
}

.heading-divider {
  width: 150px;
  height: 7px;
  border-radius: 9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5em;
  opacity: 1;
}

.heading-divider .one,
.heading-divider .two,
.heading-divider .three {
  width: 33.3%;
  height: 100%;
}

.heading-divider .one {
  background-color: #ff7e3d;
  border-radius: 99px 0 0 99px;
}

.heading-divider .two {
  background-color: #ca6330;
}

.heading-divider .three {
  background-color: #b4582b;
  border-radius: 0 99px 99px 0;
}

@media screen and (max-width: 1092px) {
  .page-heading {
    text-align: center;
  }
  .heading-divider {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.watermark {
  color: #EE6B29;
  font-weight: 900;
  font-size: 175px;
  text-transform: uppercase;
  z-index: -1;
  opacity: 0.03;
}

.watermark.home {
  position: absolute;
  top: 10vh;
  left: -10px;
}

@media screen and (max-width: 1112px) {
  .watermark {
    font-size: 121px;
  }
  .watermark.home {
    top: 20vh;
  }
}

@media screen and (max-width: 692px) {
  .watermark {
    font-size: 81px;
  }
  .watermark.home {
    top: 17.5vh;
  }
}

@media screen and (max-width: 412px) {
  .watermark {
    font-size: 61px;
  }
  .watermark.home {
    top: 18.5vh;
  }
}

.navbar {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10vw;
  line-height: 150px;
}

.navbar .navbar-brand {
  font-family: "Shadows Into Light Two", serif;
  color: #fff;
  font-weight: normal;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.navbar .navbar-brand span {
  color: #EE6B29;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.navbar .nav-list .nav-item {
  margin: 0 1em;
}

.navbar .nav-list .nav-item .nav-link {
  text-transform: uppercase;
  color: #D6D6D6;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.navbar .nav-list .nav-item .nav-link.light {
  font-weight: lighter;
}

.navbar .nav-list .nav-item .nav-link.active {
  color: #EE6B29;
}

.navbar .nav-list .nav-item .nav-link:hover {
  color: #EE6B29;
}

.navbar .menu-icon {
  -webkit-filter: invert(1);
          filter: invert(1);
  display: none;
  width: 40px;
  margin-top: -15px;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.mobile-menu .close-icon {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 5vw;
  top: 6vh;
}

.mobile-menu .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
}

.mobile-menu .nav-list .nav-item {
  margin: 1em 0;
}

.mobile-menu .nav-list .nav-item .nav-link {
  text-transform: uppercase;
  color: #D6D6D6;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.mobile-menu .nav-list .nav-item .nav-link.active {
  color: #EE6B29;
}

@media screen and (max-width: 1112px) {
  .navbar {
    padding: 0 5vw;
  }
  .navbar .nav-list {
    display: none;
  }
  .navbar .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 662px) {
  .navbar .navbar-brand {
    font-size: 2rem;
  }
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  position: relative;
  width: 100vw;
  height: 84vh;
}

.header-grid .img-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.header-grid .img-container .header-img {
  margin: 8em 0 0 -10em;
  width: 100%;
}

.header-grid .content {
  padding: 0 10vw;
  width: 100%;
  margin-top: 17.5vh;
}

.header-grid .content .header-title {
  color: #fff;
  font-size: 3vw;
  font-weight: 600;
  margin-bottom: 2vh;
}

.header-grid .content .header-content {
  width: 80%;
  font-size: 1.25vw;
  margin-bottom: 6vh;
  line-height: 1.75;
  color: #D6D6D6;
  font-family: 'EB Garamond', serif;
}

@media screen and (max-width: 1208px) {
  .header-grid .img-container .header-img {
    margin: 8em 0 0 -5em;
  }
  .header-grid .content .header-content {
    margin-bottom: 4vh;
  }
}

@media screen and (max-width: 1112px) {
  .header-grid .content {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 932px) {
  .header-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 80vh;
  }
  .header-grid .content {
    margin-top: 5vh;
  }
  .header-grid .content .header-title {
    text-align: center;
    font-size: 2.5rem;
  }
  .header-grid .content .header-content {
    text-align: center;
    font-size: 1.25rem;
    margin: 0 auto 4vh auto;
    width: 65%;
  }
  .header-grid .content .btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-grid .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-grid .img-container .header-img {
    margin: 0;
    width: 50%;
    min-width: 300px;
  }
}

@media screen and (max-width: 432px) {
  .header-grid .content {
    margin-top: 0;
  }
  .header-grid .content .header-title {
    font-size: 2rem;
  }
  .header-grid .content .header-content {
    font-size: 1rem;
  }
  .header-grid .img-container .header-img {
    width: 70%;
  }
}

@media screen and (max-height: 652px) {
  .header-grid {
    margin-top: -25px;
  }
  .header-grid .img-container .header-img {
    bottom: 5vh;
  }
}

.btn {
  padding: 16px 32px 16px 64px;
  border: none;
  border-radius: 3px;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.btn .icon {
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.btn.primary {
  color: #fff;
  background: #EE6B29;
}

.btn.primary:hover {
  background: #f1844c;
}

.btn.primary-outline {
  color: #EE6B29;
  border: 2px solid #EE6B29;
  padding: 14px 30px 14px 62px;
}

.btn.primary-outline .icon {
  -webkit-filter: invert(1) brightness(0.5) sepia(1) saturate(4000%);
          filter: invert(1) brightness(0.5) sepia(1) saturate(4000%);
}

.btn.primary-outline:hover {
  background: #EE6B29;
  color: #fff;
}

.btn.primary-outline:hover .icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media screen and (max-width: 1374px) {
  .btn {
    padding: 12px 24px 12px 48px;
    font-size: 1.1vw;
  }
  .btn.primary-outline {
    padding: 10px 22px 10px 46px;
  }
  .btn .icon {
    width: 1.5vw;
    left: 16px;
    width: 2vw;
  }
}

@media screen and (max-width: 912px) {
  .btn {
    padding: 16px 32px 16px 64px;
    font-size: 0.85rem;
  }
  .btn.primary-outline {
    padding: 14px 30px 14px 62px;
  }
  .btn .icon {
    width: 20px;
    left: 24px;
  }
}

.projects {
  padding: 5vh 10vw;
}

.projects .project {
  width: 100%;
  margin-top: 7.5vh;
  min-height: 55vh;
  background-color: #30302c;
  border-left: 10px solid #EE6B29;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 4em;
  position: relative;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.projects .project .img-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project .img-container .project-img {
  width: 90%;
}

.projects .project .content {
  width: 100%;
}

.projects .project .content .project-title {
  font-size: 2.25rem;
  color: #fff;
}

.projects .project .content .project-description {
  color: #ccc;
  width: 80%;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1em 0;
}

.projects .project .content .skills-heading {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.projects .project .content .skills-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1em 1em;
  width: 90%;
  margin: 1em 0 3em 0;
}

.projects .project .content .skills-list .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .project .content .skills-list .skill .checkmark {
  width: 32.5px;
}

.projects .project .content .skills-list .skill .skill-title {
  font-size: 1.2rem;
  color: #eee;
  margin-left: 0.5em;
  font-weight: lighter;
}

.projects .project .content .skills-list.smaller {
  width: 75%;
}

.projects .project .content .btn-group .btn:last-of-type {
  margin-left: 1em;
}

.projects .project.alternate {
  border-left: none;
  border-right: 10px solid #EE6B29;
}

.projects .project.alternate .content {
  text-align: right;
}

.projects .project.alternate .content .project-description,
.projects .project.alternate .content .skills-list {
  margin-left: auto;
}

.projects .project.alternate .content .skills-list .skill {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1452px) {
  .projects .project .content .project-description {
    font-size: 1rem;
    width: 90%;
  }
  .projects .project .content .project-title {
    font-size: 1.85rem;
  }
  .projects .project .content .skills-heading {
    font-size: 1.25rem;
  }
  .projects .project .content .skills-list .skill {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .project .content .skills-list .skill .skill-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1112px) {
  .projects {
    padding: 5vh 5vw;
  }
}

@media screen and (max-width: 1092px) {
  .projects .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
    row-gap: 4em;
    border: none;
    border-top: 10px solid #EE6B29;
  }
  .projects .project.alternate {
    border: none;
    border-top: 10px solid #EE6B29;
  }
  .projects .project.alternate .content * {
    text-align: center;
  }
  .projects .project.alternate .content .skills-list {
    margin-left: auto;
    margin-right: auto;
  }
  .projects .project.alternate .content .skills-list .skill {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .projects .project.alternate .content .skills-list .skill .skill-title {
    margin: 0;
  }
  .projects .project .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .projects .project .content .project-title {
    font-size: 2.25rem;
  }
  .projects .project .content .project-description {
    font-size: 1.25rem;
    margin: 1em auto;
  }
  .projects .project .content .skills-heading {
    font-size: 1.5rem;
  }
  .projects .project .content .skills-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 50%;
    margin-left: 25%;
    row-gap: 2em;
  }
  .projects .project .content .skills-list .skill {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .project .content .skills-list .skill .checkmark {
    display: none;
  }
  .projects .project .content .skills-list .skill .skill-title {
    font-size: 1.2rem;
    margin: 0;
  }
  .projects .project .img-container .project-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 550px) {
  .projects .project .content .btn-group .btn {
    display: block;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .projects .project .content .btn-group .btn:last-of-type {
    margin: 2em auto 0 auto;
  }
}

.footer {
  background-color: #30302c;
  min-height: 100px;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
}

.footer .copyright-text {
  font-size: 1.1rem;
  color: #ddd;
  font-weight: lighter;
}

.footer .social-icons .social-icon-link {
  margin: 0 0.5em;
}

.footer .social-icons .social-icon-link .icon {
  -webkit-filter: invert(0.7);
          filter: invert(0.7);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.footer .social-icons .social-icon-link .icon:hover {
  -webkit-filter: invert(1) brightness(0.5) sepia(1) saturate(4000%);
          filter: invert(1) brightness(0.5) sepia(1) saturate(4000%);
}

.footer.sticky {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

@media screen and (max-width: 532px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 125px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .copyright-text {
    font-size: 0.9rem;
    margin-bottom: 2em;
  }
}

.skills {
  padding: 5vh 10vw;
}

.skills .skills-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15vh;
}

.skills .skills-grid .skill-group {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills-grid .skill-group .icon {
  height: 75px;
  -webkit-filter: invert(1) brightness(0.5) sepia(1) saturate(4000%);
          filter: invert(1) brightness(0.5) sepia(1) saturate(4000%);
  margin-right: 1em;
}

.skills .skills-grid .skill-group .skill-group-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.skills .skills-grid .skill-group .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .skills-grid .skill-group .skills-list .skill {
  color: #fff;
  background-color: #3d3c3c;
  padding: 6px 16px;
  margin: 0.5em 1em 0.5em 0;
  border-radius: 999px;
}

.about {
  padding: 5vh 10vw;
}

.about .about-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about .about-grid .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-grid .content .text {
  color: #ccc;
  width: 90%;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
}

.about .about-grid .content .btn-container {
  margin-top: 3em;
}

.about .about-grid .about-img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  min-width: 300px;
}

.contact {
  padding: 5vh 10vw;
}

.contact .contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 5vh;
}

.contact .contact-grid .contact-form {
  width: 82.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-grid .contact-form .form-group {
  display: block;
  margin: 1em 0;
}

.contact .contact-grid .contact-form .form-group.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 3em;
          column-gap: 3em;
}

.contact .contact-grid .contact-form .form-group .input-container {
  width: 100%;
}

.contact .contact-grid .contact-form .form-group .input-container label {
  color: #eee;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}

.contact .contact-grid .contact-form .form-group .input-container .form-input {
  width: 100%;
  height: 40px;
  padding-left: 12px;
  background-color: #3b3b37;
  color: #ddd;
  border: none;
  border-bottom: 2px solid #EE6B29;
}

.contact .contact-grid .contact-form .form-group .input-container .form-input.large {
  height: 160px;
  padding-top: 12px;
}

.contact .contact-grid .contact-form .form-group .input-container .form-input::-webkit-input-placeholder {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.contact .contact-grid .contact-form .form-group .input-container .form-input:-ms-input-placeholder {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.contact .contact-grid .contact-form .form-group .input-container .form-input::-ms-input-placeholder {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.contact .contact-grid .contact-form .form-group .input-container .form-input::placeholder {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.contact .contact-grid .contact-img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.resume {
  padding: 5vh 10vw;
}

.resume .resume-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.resume .resume-grid .content .text {
  color: #eee;
  font-size: 1.5rem;
  margin: 4em 0 3em;
  font-weight: 300;
}

.resume .resume-grid .content .btn-group .btn:last-of-type {
  margin-left: 1em;
}

.resume .resume-grid .resume-img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=main.css.map */