.about {
   padding: 5vh 10vw;

   .about-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .content {
         display: flex;
         flex-direction: column;
         justify-content: center;

         .text {
            color: #ccc;
            width: 90%;
            font-weight: 300;
            font-style: italic;
            font-size: 1.5rem;
            line-height: 1.5;
         }

         .btn-container {
            margin-top: 3em;
         }
      }

      .about-img {
         position: relative;
         left: 50%;
         transform: translateX(-50%);
         width: 40%;
         min-width: 300px;
      }
   }
}

@media screen and (max-width: 1112px) {
   .about .about-grid {
      grid-template-columns: 1fr;
      row-gap: 4em;

      .content {
         align-items: center;
         text-align: center;
         padding-top: 2em;
      }
   }
}

@media screen and (max-width: 532px) {
   .about .about-grid {
      .content .text {
         font-size: 1.25rem;
      }
      .about-img {
         width: 50vw;
         min-width: 0;
      }
   }
}
