.footer {
   background-color: #30302c;
   min-height: 100px;
   margin-top: 5vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10vw;

   .copyright-text {
      font-size: 1.1rem;
      color: #ddd;
      font-weight: lighter;
   }

   .social-icons {
      .social-icon-link {
         margin: 0 0.5em;

         .icon {
            filter: invert(0.7);
            transition: filter 0.3s ease-in-out;

            &:hover {
               filter: invert(1) brightness(0.5) sepia(1) saturate(4000%);
            }
         }
      }
   }

   &.sticky {
      position: absolute;
      bottom: 0;
      width: 100vw;
   }
}
