.resume {
   padding: 5vh 10vw;

   .resume-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .content {
         .text {
            color: #eee;
            font-size: 1.5rem;
            margin: 4em 0 3em;
            font-weight: 300;
         }
         .btn-group .btn:last-of-type {
            margin-left: 1em;
         }
      }

      .resume-img {
         position: relative;
         left: 50%;
         transform: translateX(-50%);
      }
   }
}

@media screen and (max-width: 1368px) {
   .resume .resume-grid .resume-img {
      width: 60%;
   }
}

@media screen and (max-width: 1112px) {
   .resume .resume-grid {
      grid-template-columns: 1fr;
      row-gap: 6em;

      .content {
         text-align: center;
      }

      .resume-img {
         width: 40%;
      }
   }
}

@media screen and (max-width: 608px) {
   .resume .resume-grid {
      .resume-img {
         width: 55%;
      }

      .content {
         .btn-group {
            width: 50vw;
            min-width: 250px;
            margin: 0 auto;

            .btn {
               display: block;

               &:last-of-type {
                  margin: 2em 0 0 0;
               }
            }
         }
      }
   }
}
